<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootcump eo</title>
  <link rel="stylesheet" href="/css/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="col-md-6 d-flex flex-row py-sm-6">
      <input type="text" class="form-control shadow-sm">
      <button class="btn  btn-success btn-lg">Entrar</button>

    </div>

  </div>
</body>
</html>